body {
  background-color: #ffffff;
  padding: 0px 0px;
  margin: 0;
}
h1, h2, h3, h4, p, ul, li {
  font-family: sans-serif;
  font-weight: 500;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: rgb(35, 139, 170);
  padding: 0;
  margin: 0px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #FFF;
  padding: 20px;
  box-shadow: inset 0px 4px 9px 0px #afafaf;
  padding-bottom: 48px;
  margin-bottom: 48px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.content-text {
  font-family: sans-serif;
  font-size: 15px; 
  padding-bottom: 15px;
}
.content-center {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.content-small {
  color: #adadad;
  font-size: 11px; 
}

.login {
  background-color: #afafaf25;
  padding: 20px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 48px;
  color: #4d4d4d;
}
.login-content {
  width: 400px;
  margin: 0 auto;
}

.device-container {
  width: 256px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 48px;
  padding: 20px;
  color: #4d4d4d;
  box-shadow:0px 0px 10px #00000030;
  border-radius: 8px;
}

.device-slider-container {
  width: 200px;
  margin: 0 auto;
  margin-top: 40px;
}

.device-slider-loading {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.loging-container {
  padding-top: 6px;
  padding-right: 12px;
}

.footer {
  text-align: center;
  font-family: sans-serif;
  font-size: 12px; 
}

.active {
  background-color: #0099FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-center {
  text-align: center;
}
